extends layout

block content
  div.container-fluid
    h1= title

    if user
      p Hi, #{user.username}
      if user.member === false 
        a(href="/membership-signup") Become a member
    else 
      p.text-center You should Login first to see messages.