extends layout 

block content 
  div.bg-light.d-flex.flex-column.align-items-center.justify-content-center
    p.fs-3.mt-3 #[strong #{title}]  to
    h1.text-center.text-secondary.mb-4.fs-2 Members Only

    form.d-flex.flex-column.gap-3.mb-3.w-50(method="POST")
      div.form-group
        label.mb-2(for="username") Username:
        input.form-control(type="text", id="username", name="username")
      div.form-group
        label.mb-2(for="password") Password:
        input.form-control(type="password", id="password", name="password")

      if errors 
        ul 
          each error in errors 
            li.text-danger.mb-2 #[strong #{error.msg}] 
      
      button.btn.btn-secondary(type="submit") Login
   
    p.text-center Don't have an account? #[a(href="/sign-up") Sign Up]