extends layout

block content
  div.bg-light.d-flex.flex-column.align-items-center.justify-content-center.pt-2
    p.fs-3.mt-3 #[strong #{title}]  to
    h1.text-center.text-secondary.mb-4.fs-2 Members Only

    form.d-flex.flex-column.gap-3.mb-3.w-50(method="POST")
      div.form-group
        label.mb-2(for="firstName") First Name: 
        input.form-control(type="text", id="firstName", name="firstName", value=(user ? user.firstName : ""))
      div.form-group
        label.mb-2(for="lastName") Last Name: 
        input.form-control(type="text", id="lastName", name="lastName", value=(user ? user.lastName : ""))
      div.form-group
        label.mb-2(for="username") Username:
        input.form-control(type="text", id="username", name="username", value=(user ? user.username : ""))
      div.form-group
        label.mb-2(for="password") Password:
        input.form-control(type="password", id="password", name="password", required)
      div.form-group
        label.mb-2(for="confirmPassword") Confirm Password:
        input.form-control(type="password", id="confirmPassword", name="confirmPassword", required)

      div.form-check.d-flex.align-items-center.gap-2
        input.form-check-input.mt-0(type="checkbox", id="isAdmin", name="isAdmin")
        label.form-check-label(for="isAdmin") Admin

      if errors 
        ul 
          each error in errors 
            li.text-danger.mb-2 #[strong #{error.msg}] 
      
      button.btn.btn-secondary(type="submit") Sign Up
   
    p.text-center.mb-3 Have an account? #[a(href="/login") Login]