p {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.logo {
  /* font-family: "Noto Sans Sogdian", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-family: "Protest Revolution", sans-serif;
}

.home-title {
  font-family: "Roboto", sans-serif;
}

.github-logo {
  width: 20px
}